<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>BirthDataQueryBuilder: Qanary Service Status page</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>BirthDataQueryBuilder</h1>
    <!-- 
	make a statement about the purpose of your component here
    //-->
    <p th:text="
    This component is supposed to be used in combination with NED OpenTapioca to find the birthplace
    and date of people using Wikidata.
    " />
</body>
</html>
