Flask
langdetect==1.0.9
langid==1.1.6
mock==3.0.5
python-dotenv==0.21.1
qanary_helpers==0.2.2
transformers==4.41.0
sentencepiece==0.1.97
torch==2.3.0
gunicorn==20.1.0
protobuf==3.20.*
pytest
pytest-env
